#splash {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}
#app {
  display: none;
}

#navbar_custom{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #4f70ce;
}

nav{
  background-color: #4f70ce;
}

body {
  background-color: white;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #4f70ce !important;
}
