{% extends 'base.html.twig' %}

{% block body %}
{% include 'nav.html.twig' %}
  <div class="py-5 text-center cover" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);background-repeat:no-repeat;background-size:cover;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary text-uppercase">raywars </h1>
          <p class="lead mb-5">RAYWARS is raywars, raywars&nbsp;raywars&nbsp;raywars raywars&nbsp;raywars&nbsp;raywars&nbsp;raywars,raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars raywars
            raywars raywars raywars raywars&nbsp;raywars&nbsp;raywars&nbsp;raywars</p>
          <a href="{{ path('app_ruleset') }}" class="btn btn-lg mx-1 btn-secondary">Read Rules</a>
          <a href="#" class="btn btn-lg btn-primary mx-1">View all Cards</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
