{% extends 'common/base.html.twig' %}

{% block content %}
<div id="app">
  <div class="container">
    <div class="row center">
      <div class="col l12 s12">
        <h1 class="header">Raywars</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col l12 s12">
        <h4 class="light">Das einfach geilste Kartenspiel das ihr je gesehen habt.<br /> Holt es euch jetzt!</h4>
      </div>
    </div>

    <div class="desktop center hide-on-med-and-down">
      <div class="row">
        <div class="col l12">
          <a href="#" class="waves-effect waves-light btn-large"><i class="material-icons right">file_download</i>Download</a>
          <a href="{{ path('app_card_list') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">photo_library</i>View Cards</a>
          <a href="{{ path('app_ruleset') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">book</i>Read Rules</a>
        </div>
      </div>
    </div>

    <div class="mobile center hide-on-large-only">
      <div class="row">
        <div class="col s12">
          <a href="#" class="waves-effect waves-light btn-large"><i class="material-icons right">file_download</i>Download</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="{{ path('app_card_list') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">photo_library</i>View Cards</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="{{ path('app_ruleset') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">book</i>Read Rules</a>
        </div>
      </div>
    </div>

        
        
  </div>
</div>
{% endblock %}
