#splash {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}
#app {
  display: none;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#navbar_custom{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #4f70ce;
}

nav{
  background-color: #4f70ce;
}

body {
  background-color: white;
}

footer {
  background-color: #4f70ce !important;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 80%;
}

.card {
  height: 600px;
}

#ruleset-header {
  border-bottom: 0px solid;
}

#ruleset-header nav {
  color: black ;
  background-color: white;
}

#ruleset-header nav a {
  color: black ;
}

#ruleset-header nav .breadcrumb:before {
  color: black;
}

#navbar_custom .container .row {
  margin-bottom: 0px;
}

#ruleset .breadcrumb::before {
  content: '\203E';
  margin: 3px 10px 0 8px;
}

#app .container .carousel-img {
  margin-left: 16.5%;
}

#cardContainer .row li {
  list-style-type: none;
}

#cardContainer .row#trivia {
  margin-bottom: 5vw;
}

.sidenav-overlay {
  z-index: 10;
}