{% block footer %}
<div class="container">
 <div class="row">
   <div class="col l6 s12">
     <h5 class="white-text">RAYWARS</h5>
     <p class="grey-text text-lighten-4">The best selling Card Game ever made.  5/7 - IGN </p>
   </div>
   <div class="col l4 offset-l2 s12">
     <h5 class="white-text">Usefull Links</h5>
     <ul>
       <li><a class="grey-text text-lighten-3" href="{{path('app_index')}}">Home</a></li>
       <li><a class="grey-text text-lighten-3" href="{{path('app_card_list')}}">Card</a></li>
       <li><a class="grey-text text-lighten-3" href="{{path('app_ruleset')}}">Ruleset</a></li>
       <li><a class="grey-text text-lighten-3" href="!#">Contact</a></li>
     </ul>
   </div>
 </div>
</div>
<div class="footer-copyright">
 <div class="container">
   © 2018 Copyright RAYMAN & Co. KG. All Rights Reserved
 </div>
</div>
{% endblock %}
