{% extends 'new/common/base.html.twig' %}

{% block content %}
<div id="app">
  <div class="container">
    <div class="row center">
      <div class="col l12">
        <h1 class="header">Raywars</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col l12">
        <h4 class="light">Das einfach geilste Kartenspiel das ihr je gesehen habt.<br /> Holt es euch jetzt!</h4>
      </div>
    </div>
    <div class="row center">
      <div class="col l12">
        <a href="{{ path('new_app_card_list') }}" class="waves-effect waves-light btn-large"><i class="material-icons left">photo_library</i>View Cards</a>
        <a href="{{ path('new_app_ruleset') }}" class="waves-effect waves-light btn-large"><i class="material-icons right">book</i>Read Rules</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
