{% extends 'new/common/base.html.twig' %}

{% block content %}
  <div id="app">
    <div id="ruleset">
      <div id="ruleset-header">
        <nav>
          <div class="nav-wrapper ruleset-nav">
            <div class="container">
              <div class="row">
                <div class="col s12 center-align">
                  <a href="#!" class="breadcrumb">Lebenssystem</a>
                  <a href="#!" class="breadcrumb">Decksystem</a>
                  <a href="#!" class="breadcrumb">Rundensystem</a>
                  <a href="#!" class="breadcrumb">Resourcensystem</a>
                  <a href="#!" class="breadcrumb">Kampfsystem</a>
                  <a href="#!" class="breadcrumb">Spielfeld</a>
                  <a href="#!" class="breadcrumb">Kartentypen</a>
                  <a href="#!" class="breadcrumb">Karten</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
      <div class="container">
        <div class="row">
          <div class="col l12">
            <div class="section">
              HIER KOMMT REGELWERK
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
