{% block navcontent %}
<div id="navbar_custom">
  <div class="container">
    <div class="row">
      <div class="col l12">
        <nav>
          <div class="nav-wrapper">
            <div class="col l12">
              <a href="#" class="brand-logo">RAYWARS</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Cards</a></li>
                <li><a href="#">Ruleset</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}
